@model philimagex.Models.IndexViewModel
<section class="manage-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Launch Software</h4>
                    </div>
                    <div class="panel-body">
                        <button class="btn btn-primary btn-lg btn-block" id="btnLaunchSoftware" onclick="btnLaunchSoftwareOnclick()">Launch Software</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td>
                                    <h4>Manage settings</h4>
                                </td>
                                <td valign="middle" align="right">
                                    <a href="/Manage/ChangePassword" class="btn btn-default">Change your password</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <p class="text-success">@ViewBag.StatusMessage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>