<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMTiPACS - Dashboard</title>

    <!-- Styles  -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Navbar -->
    @Html.Partial("HomeHeader")

    <!-- Section Side -->
    <section class="software-section">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Dashboard</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <button onclick="btnModalityProcedureOnclick()" class="btn btn-primary btn-block btn-lg">
                                <i class="fa fa-stethoscope fa-fw fa-5x"></i>
                                <br /><br />
                                Modality Procedure
                            </button>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <button onclick="btnBodyPartsOnclick()" class="btn btn-primary btn-block btn-lg">
                                <i class="fa fa-male fa-fw fa-5x"></i>
                                <br /><br />
                                Body Parts
                            </button>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <button onclick="btnUserOnclick()" class="btn btn-primary btn-block btn-lg">
                                <i class="fa fa-key fa-fw fa-5x"></i>
                                <br /><br />
                                User
                            </button>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button onclick="btnRateOnclick()" class="btn btn-primary btn-block btn-lg">
                                <i class="fa fa-star-half-full fa-fw fa-5x"></i>
                                <br /><br />
                                Rate
                            </button>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <button onclick="btnProcedureOnclick()" class="btn btn-primary btn-block btn-lg">
                                <i class="fa fa-clipboard fa-fw fa-5x"></i>
                                <br /><br />
                                Procedure
                            </button>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <button onclick="btnReportsOnclick()" class="btn btn-primary btn-block btn-lg">
                                <i class="fa fa-print fa-fw fa-5x"></i>
                                <br /><br />
                                Reports
                            </button>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
     
        function btnModalityProcedureOnclick() {
            window.location = "/Software/Modality?facilityId=" + getUrlParameter("facilityId");
        }

        function btnBodyPartsOnclick() {
            window.location = "/Software/BodyParts?facilityId=" + getUrlParameter("facilityId");
        }

        function btnUserOnclick() {
            window.location = "/Software/Users?facilityId=" + getUrlParameter("facilityId");
        }

        function btnRateOnclick() {
            window.location = "/Software/Rate?facilityId=" + getUrlParameter("facilityId");
        }

        function btnProcedureOnclick() {
            window.location = "/Software/Procedure?facilityId=" + getUrlParameter("facilityId");
        }

        function btnReportsOnclick() {
            window.location = "/Software/Reports?facilityId=" + getUrlParameter("facilityId");
        }
    </script>
</body>
</html>
