<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMTiPACS - Modality</title>

    <!-- Styles  -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Navbar -->
    @Html.Partial("HomeHeader")

    <!-- Section Side -->
    <section class="software-section">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <a href="/Software/Index" class="list-group-item">Dashboard</a>
                        <a href="/Software/Modality" class="list-group-item active">Modality Procedure</a>
                        <a href="/Software/BodyParts" class="list-group-item">Body Parts</a>
                        <a href="/Software/User" class="list-group-item">User</a>
                        <a href="/Software/Rate" class="list-group-item">Rate</a>
                        <a href="/Software/Procedure" class="list-group-item">Procedure</a>
                        <a href="/Software/Reports" class="list-group-item">Reports</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Modality</h4>
                        </div>
                        <div class="panel-heading">
                            <table style="width: 100%" border="0">
                                <tr>
                                    <td style="width: 50%">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control input-sm" id="InputFilter" placeholder="Search">
                                        </div>
                                    </td>
                                    <td style="width: 50%" align="right">
                                        <button class="btn btn-primary"><i class="fa fa-plus fa-fw"></i>Add</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-body">
                            <div id="flexGrid"></div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="btn-group col-md-7" id="naviagtionPageGrid">
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                        <span class="glyphicon glyphicon-fast-backward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                        <span class="glyphicon glyphicon-step-backward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                        <span class="glyphicon glyphicon-step-forward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                        <span class="glyphicon glyphicon-fast-forward"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        var flexGrid = wijmo.grid.FlexGrid;
        var flexView = wijmo.collections.CollectionView;

        function initGrid() {
            flexGrid = new wijmo.grid.FlexGrid('#flexGrid', {
                autoGenerateColumns: false,
                selectionMode : 'Row',
                columns: [
                    {
                        Header: ' ',
                        Binding: 'edit',
                        isReadOnly: true,
                        isContentHtml: true,
                        width: 65,
                        align: center
                    }
                ]
            });
        }

        $(document).ready(function () {
            initGrid()
        });
    </script>
</body>
</html>
