<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMTiPACS - Procedure</title>

    <!-- Styles  -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Navbar -->
    @Html.Partial("HomeHeader")

    <!-- Section Side -->
    <section class="software-section">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <a href="/Software/Index" class="list-group-item">Dashboard</a>
                        <a href="/Software/Modality" class="list-group-item">Modality</a>
                        <a href="/Software/BodyParts" class="list-group-item">Body Parts</a>
                        <a href="/Software/User" class="list-group-item">User</a>
                        <a href="/Software/Rate" class="list-group-item">Rate</a>
                        <a href="/Software/Procedure" class="list-group-item active">Procedure</a>
                        <a href="/Software/Reports" class="list-group-item">Reports</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Procedures</h4>
                        </div>
                        <div class="panel-heading">
                            <table style="width: 100%" border="0">
                                <tr>
                                    <td style="width: 50%">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control" id="inputFilter" placeholder="Search">
                                        </div>
                                    </td>
                                    <td style="width: 50%" align="right">
                                        <button class="btn btn-primary" id="btnAddProcedure" onclick="btnAddProcedureOnclick()"><i class="fa fa-plus fa-fw"></i>Add</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-body">
                            <div id="procedureFlexGrid" class="grid"></div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="btn-group col-md-7" id="navigationPageGrid">
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                        <span class="glyphicon glyphicon-fast-backward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                        <span class="glyphicon glyphicon-step-backward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                        <span class="glyphicon glyphicon-step-forward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                        <span class="glyphicon glyphicon-fast-forward"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- delete confirmation procedure modal -->
    <div class="modal fade" id="deleteConfirmationProcedureModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Procedure</h4>
                </div>
                <div class="modal-body">
                    Are you sure that you want to delete this Procedure?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="btnConfirmDeleteProcedure" onclick="btnConfirmDeleteProcedureOnclick()">Yes</button>
                    <button class="btn btn-default" id="btnCloseDeleteProcedureModal" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // global variables
        var procedureCollectionView;
        var procedureFlexGrid;
        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;

        // get procedure
        function getProcedureData() {
            var procedureArray = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/procedure/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (procedureListResult) {
                    if (procedureListResult.length > 0) {
                        for (i = 0; i < procedureListResult.length; i++) {
                            procedureArray.push({
                                EditButton: "<button class='btn btn-primary btn-xs btn-block' onclick='btnEditProcedureOnclick()'><i class='fa fa-edit fa-fw'></i> Edit</button>",
                                DeleteButton: "<button class='btn btn-danger btn-xs btn-block'  onclick='btnDeleteProcedureOnclick()'><i class='fa fa-trash fa-fw'></i> Delete</button>",
                                Id: procedureListResult[i]["Id"],
                                TransactionNumber: procedureListResult[i]["TransactionNumber"],
                                TransactionDateTime: procedureListResult[i]["TransactionDateTime"],
                                TransactionTime: procedureListResult[i]["TransactionTime"],
                                DICOMFileName: procedureListResult[i]["DICOMFileName"],
                                PatientName: procedureListResult[i]["PatientName"],
                                Gender: procedureListResult[i]["Gender"],
                                DateOfBirth: procedureListResult[i]["DateOfBirth"],
                                Age: procedureListResult[i]["Age"],
                                Particulars: procedureListResult[i]["Particulars"],
                                ModalityId: procedureListResult[i]["ModalityId"],
                                Modality: procedureListResult[i]["Modality"],
                                BodyPartId: procedureListResult[i]["BodyPartId"],
                                BodyPart: procedureListResult[i]["BodyPart"],
                                UserId: procedureListResult[i]["UserId"],
                                User: procedureListResult[i]["User"]
                            });
                        }
                    }

                    NProgress.done();
                }
            });
            return procedureArray;
        }

        // Add procedure
        function btnAddProcedureOnclick() {
            document.getElementById("btnAddProcedure").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Adding";
            $("#btnAddProcedure").prop("disabled", true);

            $.ajax({
                type: "POST",
                url: '/api/procedure/add',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (id) {
                    if (id > 0) {
                        window.location = "/Software/ProcedureDetail?id=" + id;
                    } else {
                        toastr.error("Internal Server Error");
                    }
                }
            });
        }

        // Add procedure
        function btnEditProcedureOnclick() {
            procedureCollectionView.editItem(procedureCollectionView.currentItem);
            var currentItem = procedureCollectionView.currentEditItem;

            window.location = "/Software/ProcedureDetail?id=" + currentItem.Id;
        }

        // delete procedure
        function btnDeleteProcedureOnclick() {
            $("#deleteConfirmationProcedureModal").modal({
                "show": true,
                "backdrop": "static"
            });

            document.getElementById("btnConfirmDeleteProcedure").innerHTML = "Yes";
            $("#btnConfirmDeleteProcedure").prop("disabled", false);
            $("#btnCloseDeleteProcedureModal").prop("disabled", false);
        }
        
        // confirm delete procedure
        function btnConfirmDeleteProcedureOnclick() {
            document.getElementById("btnConfirmDeleteProcedure").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Deleting";
            $("#btnConfirmDeleteProcedure").prop("disabled", true);
            $("#btnCloseDeleteProcedureModal").prop("disabled", true);

            procedureCollectionView.editItem(procedureCollectionView.currentItem);
            var currentItem = procedureCollectionView.currentEditItem;

            $.ajax({
                type: "DELETE",
                url: '/api/procedure/delete/' + currentItem.Id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful");

                        $("#deleteConfirmationProcedureModal").modal("hide");

                        procedureCollectionView = new wijmo.collections.CollectionView(getProcedureData());
                        procedureCollectionView.canFilter = true;
                        procedureCollectionView.pageSize = 15;

                        var filterText = '';
                        $('#inputFilter').keyup(function () {
                            filterText = this.value.toLowerCase();
                            procedureCollectionView.refresh();
                        });

                        procedureCollectionView.filter = function (item) {
                            return !filterText || (item.TransactionNumber.toLowerCase().indexOf(filterText) > -1)
                                               || (item.PatientName.toLowerCase().indexOf(filterText) > -1)
                                               || (item.Gender.toLowerCase().indexOf(filterText) > -1)
                                               || (item.BodyPart.toLowerCase().indexOf(filterText) > -1)
                                               || (item.Modality.toLowerCase().indexOf(filterText) > -1)
                                               || (item.User.toLowerCase().indexOf(filterText) > -1);
                        }

                        procedureCollectionView.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtons();
                        });

                        // Flex Grid
                        procedureFlexGrid.itemsSource = procedureCollectionView;
                        procedureFlexGrid.trackChanges = true;
                    },
                    404: function () {
                        toastr.error("Not Found");

                        $("#deleteConfirmationProcedureModal").modal("hide");

                        document.getElementById("btnConfirmDeleteProcedure").innerHTML = "Yes";
                        $("#btnConfirmDeleteProcedure").prop("disabled", false);
                        $("#btnCloseDeleteProcedureModal").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Bad Request");

                        $("#deleteConfirmationProcedureModal").modal("hide");

                        document.getElementById("btnConfirmDeleteProcedure").innerHTML = "Yes";
                        $("#btnConfirmDeleteProcedure").prop("disabled", false);
                        $("#btnCloseDeleteProcedureModal").prop("disabled", false);
                    }
                }
            });
        }

        // navigation button for flexgrid
        function updateNavigateButtons() {
            if (procedureCollectionView.pageSize <= 0) {
                document.getElementById('navigationPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('navigationPageGrid').style.display = 'block';
            if (procedureCollectionView.pageIndex === 0) {
                btnFirstPageGrid.setAttribute('disabled', 'disabled');
                btnPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            } else if (procedureCollectionView.pageIndex === (procedureCollectionView.pageCount - 1)) {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnLastPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            }
            btnCurrentPageGrid.innerHTML = (procedureCollectionView.pageIndex + 1) + ' / ' + procedureCollectionView.pageCount;
        }

        window.onload = function () {
            NProgress.start();
            procedureCollectionView = new wijmo.collections.CollectionView(getProcedureData());
            procedureCollectionView.canFilter = true;
            procedureCollectionView.pageSize = 15;

            var filterText = '';
            $('#inputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                procedureCollectionView.refresh();
            });

            procedureCollectionView.filter = function (item) {
                return !filterText || (item.TransactionNumber.toLowerCase().indexOf(filterText) > -1)
                                   || (item.PatientName.toLowerCase().indexOf(filterText) > -1)
                                   || (item.Gender.toLowerCase().indexOf(filterText) > -1)
                                   || (item.BodyPart.toLowerCase().indexOf(filterText) > -1)
                                   || (item.Modality.toLowerCase().indexOf(filterText) > -1)
                                   || (item.User.toLowerCase().indexOf(filterText) > -1);
            }

            procedureCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtons();
            });

            // Flex Grid
            procedureFlexGrid = new wijmo.grid.FlexGrid('#procedureFlexGrid');
            procedureFlexGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditButton",
                                "width": 80,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteButton",
                                "width": 80,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Tax Number",
                                "binding": "TransactionNumber",
                                "allowSorting": true,
                                "width": 120,
                            },
                            {
                                "header": "Tx Date",
                                "binding": "TransactionDateTime",
                                "allowSorting": true,
                                "width": 90,
                            },
                            {
                                "header": "Tx Time",
                                "binding": "TransactionTime",
                                "allowSorting": true,
                                "width": 80,
                            },
                            {
                                "header": "Patient",
                                "binding": "PatientName",
                                "allowSorting": true,
                                "width": 150,
                            },
                            {
                                "header": "Gender",
                                "binding": "Gender",
                                "allowSorting": true,
                                "width": 60,
                            },
                            {
                                "header": "Age",
                                "binding": "Age",
                                "allowSorting": true,
                                "width": 40,
                            },
                            {
                                "header": "Exam Taken",
                                "binding": "Modality",
                                "allowSorting": true,
                                "width": 100,
                            },
                            {
                                "header": "Body Part",
                                "binding": "BodyPart",
                                "allowSorting": true,
                                "width": 100,
                            },
                            {
                                "header": "Doctor",
                                "binding": "User",
                                "allowSorting": true,
                                "width": 150,
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: procedureCollectionView,
                isReadOnly: true,
                frozenColumns: 2,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            procedureFlexGrid.trackChanges = true;

            //Navigation button
            btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
            btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
            btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
            btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

            updateNavigateButtons();

            btnFirstPageGrid.addEventListener('click', function () {
                procedureCollectionView.moveToFirstPage();
                updateNavigateButtons();
            });
            btnPreviousPageGrid.addEventListener('click', function () {
                procedureCollectionView.moveToPreviousPage();
                updateNavigateButtons();
            });
            btnNextPageGrid.addEventListener('click', function () {
                procedureCollectionView.moveToNextPage();
                updateNavigateButtons();
            });
            btnLastPageGrid.addEventListener('click', function () {
                procedureCollectionView.moveToLastPage();
                updateNavigateButtons();
            });
        }

    </script>
</body>
</html>
